{% load static %}
<html lang="fa" dir="rtl">
    <head>
        <title>Hello World</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.rtl.min.css' %}">
        
        {% comment %} <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="{% static 'bootstrap/css/carousel.rtl.css' %}"> {% endcomment %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    </head>
        


