{% load static %}
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        
          
        <a class="navbar-brand">
          <img src="{% static 'img/logo-white.png' %}"  class="d-inline-block align-text-top">
        </a>
          
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage' %}"> صفحه اول </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"> محصولات سازمانی  > </a>
              <div class="menu-tabs">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways a">
                    <li class="active"><a href="#eset-v" data-toggle="tab">ESET</a></li>
                    <li><a href="#kaspersky-v" data-toggle="tab">KASPERSKY</a></li>
                    <li><a href="#microsoft-v" data-toggle="tab">MICROSOFT</a></li>
                    {% comment %} <li><a href="#settings-v" data-toggle="tab">Settings</a></li> {% endcomment %}
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="eset-v">
                      <div class="row">
                        <div class="col-md-4"><img src="{% static 'img/eset1.png'%}"/></div>
                        <div class="col-md-4"><img src="{% static 'img/eset2.png'%}"/></div>
                        <div class="col-md-4"><img src="{% static 'img/eset3.png'%}"/></div>
                      </div>
                    </div>
                    <div class="tab-pane" id="kaspersky-v">
                      <div class="row">
                        <div class="col-md-4"><img src="{% static 'img/kasper1.png'%}"/></div>
                        <div class="col-md-4"><img src="{% static 'img/kasper2.png'%}"/></div>
                        <div class="col-md-4"><img src="{% static 'img/kasper3.png'%}"/></div>
                      </div>
                    </div>
                    <div class="tab-pane" id="microsoft-v">
                      <div class="row" id="d">
                        <div class="col-md-6"><img src="{% static 'img/windows-8.1.png'%}"/></div>
                        <div class="col-md-6"><img src="{% static 'img/windows-10.png'%}"/></div>
                      </div>
                    </div>
                    <div class="tab-pane" id="settings-v">Settings Tab.</div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="mega-indicator"></span>محصولات خانگی  > </a>
              <div class="menu-tabs">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways b">
                    <li class="active"><a href="#home-z" data-toggle="tab">Home</a></li>
                    <li><a href="#profile-z" data-toggle="tab">Profile</a></li>
                    <li><a href="#messages-z" data-toggle="tab">Messages</a></li>
                    <li><a href="#settings-z" data-toggle="tab">Settings</a></li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home-z">Home Tab.</div>
                    <div class="tab-pane" id="profile-z">Profile Tab.</div>
                    <div class="tab-pane" id="messages-z">Messages Tab.</div>
                    <div class="tab-pane" id="settings-z">Settings Tab.</div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">درباره ما </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">تماس با ما </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">پشتیبانی</a>
            </li>
          </ul>



        </div>
      </div>
    </nav>
    
    
    
   
    
    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>



    <script>
        $( document ).ready(function() {
            $('.nav-tabs > li > a').hover(function() {
                $(this).tab('show');
            });

        });

        $(document).ready(function(){
          $(window).scroll(function(){
            var scroll = $(window).scrollTop();

            if (scroll > 100) {
              $(".navbar").addClass("bg-white");
            }else{
              $(".navbar").removeClass("bg-white");
            }
          })
        })
    </script>












